.send-file {
  flex: 1;
  padding: 20px;
}

.sendFile-button {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
  justify-content: space-between;
  font-size: 16px;
}

.transfer {
  display: flex;
  margin: 10px 30px;
  gap: 80px;
  margin-bottom: 30px;
}

.transfer-button {
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.devices {
  margin-top: 20px;
}

.device {
  display: flex;
  align-items: center;
  gap: 10px;
}

.device-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.device-name {
  width: calc(100% - 25px);
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recent-receive {
  margin-bottom: 20px;
}

.receive-file {
  display: flex;
  height: 100%;
}

.device-info {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.recent-receive ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-receive li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  padding: 5px 25px 5px 10px;
}

.recent-receive li:hover,
.recent-receive li.selected {
  background-color: #f0f0f0;
}

.device-detail {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.device-detail p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.device-status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.device-status p {
  margin-top: 20px;
  font-size: 16px;
}

.computer {
  width: 50%;
  height: auto;
}

.refresh-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notRefresh,
.refresh {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.refresh {
  transition: transform 1.5s ease-out;
}

.rotate {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

.refresh-button p {
  font-weight: 700;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.2rem;
  gap: 1.2rem;
  overflow-x: hidden;
  overflow-y: auto;

  .row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.6rem;
  }

  .drag-area {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    border: 2px dashed var(--td-gray-color-7);
    color: var(--td-gray-color-7);
    border-radius: 8px;
    transition: all 0.25s;

    &.active {
      border: 2px dashed var(--td-brand-color);
      color: var(--td-brand-color);
    }
  }

  .t-textarea__inner {
    display: flex;
    width: 100%;
    height: 300px;
  }

  .textareaBox {
    height: 300px;
  }
}