.receive-file {
  display: flex;
  height: 100%;
}

.device-info {
  flex: 2;
  padding: 20px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.recent-receive {
  margin-bottom: 20px;
}

.recent-receive ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-receive li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  padding: 5px;
}

.recent-receive li:hover,
.recent-receive li.selected {
  background-color: #f0f0f0;
}

.device-detail {
  flex: 3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.device-detail p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}

.refresh-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notRefresh,
.refresh {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.refresh {
  transition: transform 1.5s ease-out;
}

.rotate {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1080deg);
  }
}

.refresh-button p {
  font-weight: 700;
}

.device-detail-name {
  width: calc(100% - 10px);
}

.deviceInfo {
  display: flex;
  justify-content: space-between;
}

.deviceTrust,
.deviceNotTrust {
  display: flex;
  align-items: center;
  min-width: 4rem;
  height: 2.5rem;
  margin-left: auto;
  padding: 3px 5px;
  font-size: 1rem;
  border-radius: 5px;
}

.deviceTrust,
.deviceNotTrust {
  background-color: #366ef4;
  color: #ffffff;
  transition:
    width 0.4s,
    background-color 0.4s;
}

.deviceTrust:hover {
  background-color: #0052d9;
}

.deviceNotTrust {
  background-color: #d3d3d3;
  color: #000000;
}

.device-status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.device-status p {
  margin-top: 20px;
  font-size: 16px;
}

.device-icon {
  width: 20px;
  height: 20px;
}

.device-name {
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.computer {
  width: 50%;
  height: auto;
}

.sendFile-button {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 16px;
}

.receive-button {
  width: 35%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #366ef4;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition:
    color 0.4s,
    background-color 0.4s;
}

.receive-button:hover {
  background-color: #366ef4;
  color: white;
}

.receive-button:before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0052d9;
  z-index: -1;
  transition: width 0.4s;
}

.receive-button:hover:before {
  width: 100%;
}

.status-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
}

.online {
  background-color: green;
}

.offline {
  background-color: gray;
}